<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">

    <title>Products catalog</title>
</head>
<body>
<div class="container" th:start="${paramManager.setAll(param)}" th:with="rootUrl=@{/}">
    <!-- Content here -->
    <form th:with="curentParamBuilder=${paramManager.getBuilder().remove('page')}">

        <input th:each="hideParam : ${curentParamBuilder.remove('min', 'max', 'page').getValuesList()}"
               th:name="${hideParam.getKey()}" th:value="${hideParam.getValue()}" type="hidden">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">min Cost</th>
                <th scope="col">max Cost</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th>
                <input class="form-control" placeholder="введите минимальную цену" th:name="min"
                       th:value="${param.get('min')}" type="text">
            </th>
            <th>
                <input class="form-control" placeholder="введите максимальную цену" th:name="max"
                       th:value="${param.get('max')}" type="text">
            </th>
            <th>
                <button class="btn btn-info" type="submit">Применить</button>
            </th>
            <th>
                <a class="btn btn-secondary" href="#"
                   th:href="${rootUrl + curentParamBuilder.remove('min','max').compile()}">Сбросить</a>
            </th>
            </tbody>
        </table>
    </form>

    <div class="row justify-content-center" style="margin: 10px">
        <a class="btn btn-success" th:href="@{/show/0}" type="button">add</a>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col" th:with="fieldName = 'id'">
                <div th:with="currentParamBuilder=${paramManager.getBuilder().add('sortBy', fieldName)}">
                    <a href="#" th:href="${rootUrl + currentParamBuilder.add('sort', 'down').compile()}"
                       th:if="${sortBySort} == ${fieldName +'up'}">▼</a>
                    <a href="#" th:href="${rootUrl + currentParamBuilder.add('sort', 'up').compile()}"
                       th:if="${sortBySort} != ${fieldName +'up'}">▲</a>
                    <span style="padding-left:5px" th:text="${fieldName}">id</span>
                </div>
            </th>
            <th scope="col" th:with="fieldName = 'title'">
                <div th:with="currentParamBuilder=${paramManager.getBuilder().add('sortBy', fieldName)}">
                    <a href="#" th:href="${rootUrl + currentParamBuilder.add('sort', 'down').compile()}"
                       th:if="${sortBySort} == ${fieldName +'up'}">▼</a>
                    <a href="#" th:href="${rootUrl + currentParamBuilder.add('sort', 'up').compile()}"
                       th:if="${sortBySort} != ${fieldName +'up'}">▲</a>
                    <span style="..." th:text="${fieldName}">title</span>
                </div>
            </th>

            <th scope="col" th:with="fieldName = 'cost'">
                <div th:with="currentParamBuilder=${paramManager.getBuilder().add('sortBy', fieldName)}">
                    <a href="#" th:href="${rootUrl + currentParamBuilder.add('sort', 'down').compile()}"
                       th:if="${sortBySort} == ${fieldName +'up'}">▼</a>
                    <a href="#" th:href="${rootUrl + currentParamBuilder.add('sort', 'up').compile()}"
                       th:if="${sortBySort} != ${fieldName +'up'}">▲</a>
                    <span style="..." th:text="${fieldName}">title</span>
                </div>
            </th>

            <th scope="col">action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${page.getContent()}">
            <th scope="row" th:text="${product.id}">product id</th>
            <td th:text="${product.title}">product title</td>
            <td th:text="${product.cost}">product cost</td>
            <td>
                <a class="btn btn-warning" th:href="@{/show/{id}(id = ${product.id})}" type="button">edit</a>
                <a class="btn btn-danger" th:href="@{/del/{id}(id = ${product.id})}" type="button">del</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Product's catalog" th:if="${page.totalPages} > 1"
         th:with="paramBuilder=${paramManager.getBuilder()}">
        <ul class="pagination justify-content-center">

            <li class="page-item " th:classappend="${page.isFirst()} ? 'disabled'">
                <a class="page-link" href="#"
                   th:href="${rootUrl + paramBuilder.add('page', page.getNumber()).compile()}">Previous</a>
            </li>

            <li class="page-item" th:classappend="${num == page.getNumber() + 1} ? 'active'"
                th:each="num : ${#numbers.sequence(1, page.totalPages)}">
                <a class="page-link" href="#" th:href="${rootUrl + paramBuilder.add('page', num).compile()}"
                   th:text="${num}">1</a></li>
            </li>

            <li class="page-item" th:classappend="${page.isLast()} ? 'disabled'">
                <a class="page-link" href="#"
                   th:href="${rootUrl + paramBuilder.add('page', page.getNumber() + 2).compile()}">Next</a>
            </li>
        </ul>
    </nav>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
