<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">

    <title>User edit form</title>
</head>
<body>
<div class="container" th:with="rootDir='/users'">
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="#" th:href="@{/}">Home</a>
                <a class="nav-link" href="#" th:href="@{/products}">Products</a>
                <a class="nav-link" href="#" th:href="@{/users}">Users</a>
                <a class="nav-link" href="#" th:href="@{/roles}">Roles</a>
                <a aria-disabled="true" class="nav-link disabled" href="#" tabindex="-1">Login</a>
            </div>
        </div>
    </nav>
    <!-- Content here -->
    <div class="row justify-content-center">
        <a class="btn btn-primary" style="margin-top: 50px" th:href="@{${rootDir}}" type="button">Cancel</a>
    </div>

    <form action="#" method="post" th:action="@{${rootDir} + '/save'}" th:object="${user}">
        <input id="id" th:field="*{id}" type="hidden"/>

        <div class="form-group">
            <label for="name">name</label>
            <input class="form-control" id="name" placeholder="enter name" th:field="*{username}" type="text"/>
        </div>

        <div class="form-group">
            <label for="password">password</label>
            <input class="form-control" id="password" placeholder="enter password" th:field="*{password}" type="text"/>
        </div>

        <!--        <input id="roles" th:field="*{roles}" type="hidden"/>-->

        <div class="form-group">
            <label>Roles:</label>
            <div class="form-check form-check-inline" th:each="role : ${allRole}">
                <input th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" type="checkbox"/>
            </div>
        </div>

        <div class="row justify-content-end" style="margin: 0 5px">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
