<!DOCTYPE HTML>
<html lang="ru" html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Мой файл сервер</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>

    <form action="#" th:action="@{/}" method="post" enctype="multipart/form-data">
        <table>
            <tr><input type="file" name="file"> </tr>
            <tr><input type="submit" value="Загрузить" /></tr>
        </table>
    </form>

    <div th:if="${message}">
        <a>Ваша ссылка для скачивания</a>
        <a th:href="${message}" th:text="${message}"></a>
    </div>
    </body>

</html>