<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Products catalog</title>
    </head>
    <body>
        <a type="button" th:href="@{/show/0}">add</a>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>cost</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <th th:text="${product.id}">product id</th>
                <th th:text="${product.title}">product title</th>
                <th th:text="${product.cost}">product cost</th>
                <th>
                    <a type="button" th:href="@{/show/{id}(id = ${product.id})}">edit</a>
                    <a type="button" th:href="@{/del/{id}(id = ${product.id})}">del</a>
                </th>
            </tr>
            </tbody>
        </table>
    </body>
</html>
